// Define variables for your color scheme

// For example:
$light-pink: #F9F4ED;
$mid-pink: #CEB8A4;
$dark-pink: #9F8972;
$pink: #CB9E87;
$charcol: #1A1A1A;
$brown: #A95C32;
$pale-grey: #F4EEE1;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
