// Specific CSS for your home-page

.home-container {
    // background-color: #eaeeed;
    // background-color: #1A1A1A;
    // background-color: #EAE9E6;
    background-color: white;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding-right: 120px;
    // padding: 70px 100px 100px 100px;


  h5 {
    color: $dark-pink;
    // color: #eaeeed;
    font-size: 20px;
    font-family: Gill Sans;
  }
}


.tagline {
  padding-right: 0px;
  background-color: $pale-grey;
  // opacity: 0.9;
  margin-right: 10px;
  margin-left: 20px;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  // width: 400px;
  // max-width: 400px;
  // min-width: 400px;

  .text-content {
    background-color: $charcol;
    border: solid 2px $charcol;
    // border-radius: 15px;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: -379px;
    padding: 20px 20px 20px 20px;
  }

  .start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: -180px;

    p {
      color: $charcol;
      font-size: 28px;
      font-family: 'Dancing Script', cursive;
    }
  }
}

#carouselExampleIndicators {
  padding-top: 60px;
  // margin-top: 50px;
  margin-bottom: 60px;
  // background-color: $pale-grey;
}

.d-block {
  width: 600px;
  height: 380px;
  max-width: 600px;
  vertical-align: middle;
  // padding-top: 0px;
  // margin-left: 70px;
}

.carousel{
  width: 600px;
}

// This is the get started button

.btn-start {
  border: solid 1px #1A1A1A;
  padding: 10px 25px;
  // background-color: $brown;
  // transition: background 0.3s ease;
  color: #1A1A1A;
  font-size: 16px;
  font-family: Gill Sans;
  margin-left: 0px;

  &:hover {
    background-color: $charcol;
    // border: solid 1px $charcol;
    color: $mid-pink;
    // border: none;
  }
}

.btn-login {
  color: #1A1A1A;
  text-decoration: none;
}

// Caroussel for homepage styling

// .slider {
//   position: relative;
//   width: 550px;
//   margin-bottom: 25px;
//   overflow: hidden;
// }

// img {
//   max-width: 100%;
// }

// *, *::after, *::before {
// box-sizing: border-box;
// }

// .slides-wrapper {
//   padding-top: calc((9/16) * 100%);
//   background: #222;
//   position: relative;
//   overflow: hidden;
//   box-shadow: 0 0 10px #888;
// }

// .slide {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left:0;
//   transform: translate(100%, 0);
// }

// .slide.active {
//   transform: translate(0, 0);
// }

// .slide img {
//   object-fit: cover;
// }

// .slide-indicators {
//   text-align: center;
//   // margin: 5px 0;
//   position:absolute;
//   bottom: -25px;
//   left: 0;
//   width: 100%;
//   height: 15px;
//   // background: #eee;
// }

// .slide-indicators button {
// width: 6px;
// height:6px;
// padding: 0;
// background: #999;
// border: none;
// border-radius: 50%;
// cursor: pointer;
// outline:none;
// position:relative;
// }

// .slide-indicators button.after{
//   content: '';
//   position: absolute;
//   width: 200%;
//   height: 200%;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%,-50%);
// }

// .slide-indicators button.active{
//   background: #ff57;
// }

// .prev-button,
// .next-button{
// position: absolute;
// top: 0;
// left: 0;
// width: 20%;
// height: 100%;
// background: rgba(255, 255, 255, 0.1);
// border: none;
// border-radius: 0 100% 100% 0%;
// cursor: pointer;
// outline: none;
// display: none;
// }

// .next-button{
//   left: auto;
//   right: 0;
//   border-radius: 100% 0 0 100%;
// }

// .slides-wrapper:hover ~.prev-button,
// .prev-button:hover,
// .slides-wrapper:hover ~.next-button,
// .next-button:hover {
// display: block;
// }

// .prev-button:active
// .next-button:active {
//   background: rgba(255, 255, 255, 0.1);
// }

@media (max-width: 1200px) {
  /* For a screen < 1200px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 0px 0;
  height: 620px;
  width: 420px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.hpg-content-container{

}

.row{
  background-color: $pale-grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left{
  padding-left: 50px;
}

.middle{
padding-left: 0px;

}

.right{
margin-left: -20px;
padding-top: 150px;

h1 {
  color: #9F8972;
  // color:#eaeeed;
  font-size: 60px;
  font-family: Doyle,Garamond,Times,Serif;
  line-height: 1.166;
  font-weight: 200;
  display: block;

}

p{
  font-size: 30px;
  color: $charcol;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}


h1 {
  color: #9F8972;
  // color:#eaeeed;
  font-size: 60px;
  font-family: Doyle,Garamond,Times,Serif;
  line-height: 1.166;
  font-weight: 200;
  display: block;

}
