.top-container {
  background-color: $pale-grey;
}

.welcome-info {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.search-bar {
  padding-left: 35px;
  padding-top: 25px;
}

#query {
  font-size: 20px;
}

.create-sort {
  padding-top: 25px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.mid-container {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.content-container {
  display: flex;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.sort-form-control {
  position: relative;
  font-size: 20px;
}

.sort-form-ghost {
  margin-right: 20px;
}

.content-container {
  display: flex;
}

.d-block {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.carousel {
  width: 450px;
}

.carousel-item img {
  object-fit: contain;
}

.item-description {
  font-size: 22px;
}

.item-price {
  font-size: 22px;
}

#item-detail-title {
  font-size: 24px;
  font-weight: bold;
  color: $charcol;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
