.top-container {
  background-color: $pale-grey;
}

.welcome-info {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }
}

.search-bar {
  padding-left: 35px;
  padding-top: 25px;
}

.create-sort {
  padding-top: 25px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.mid-container {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.content-container {
  display: flex;
}

.search-form-control {
  position: relative;
}



.sort-form-control {
  position: relative;
  font-size: 18px;
}

.sort-form-ghost {
  margin-right: 20px;
}

.content-container {
  display: flex;
}

.d-block {
  text-align: center;
  display: block;
  margin-left: 15px;
  margin-right: auto;
  width: 100%;
}

.carousel {
  width: 450px;
}

.carousel-item img {
  object-fit: contain;
}

.item-description {
  font-size: 20px;
}

.item-price {
  font-size: 20px;
}

#item-detail-title {
  font-size: 22px;
  font-weight: bold;
  color: $charcol;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
