.form-item-new {
  width: 600px;
  margin: auto;
}

.create-item {
  background: black;
}

.form-control.select.required {
  border-radius: 8px;
}

.form-control.text.required {
  border-radius: 8px;

}

.container-new {
  margin-top: 40px;
}
