<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="tagline">
  <h1>It has never been so easy to manage your shopping basket!</h1>
  <p> With bookmark you can: <p>
  <p> * Save items across different websites <p>
  <p> * Compare similar items</p>
  <p> * Find the best deals </p>
  <p> * Share with friends and family </p>
  <%# need to put the route path below once done %>
  <%= link_to "Get Started", class: "btn btn-flat" %>
</div>