<div class="hpg-content-container">
  <div class="row row-width">
      <div class="left col-4">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dajifvnn5/image/upload/v1645110270/Shopping_screen_mxaypo.jpg);">
        </div>
      </div>
      <div class="middle col-4">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( https://res.cloudinary.com/dajifvnn5/image/upload/v1647190865/heidi-fin-2TLREZi7BUg-unsplash_peszmk.jpg);">
        </div>
      </div>
      <div class="right col-4">
          <h1>Get right to <br>the stuff you want</h1>
          <br>
          <h5>Create your own private shopping gallery with all the items you like</h5>
          <br>
          <%= link_to "Get Started", items_path, class:"btn btn-outline-secondary btn-start" %>
          <p>Already have an account? <%= link_to "Log in", items_path, class:"btn-login" %></p>
      </div>
  </div>
</div>


<%# <div class="home-container">
  <div class="tagline">
    <div class="text-content">
      <h1>BOOKMARK</h1>
      <h5>It has never been so easy to manage your shopping basket!</h5>
      <br>
      <p> > Save items across different websites <p>
      <p> > Compare similar items</p>
      <p> > Find the best deals </p>
      <p> > Share with friends and family </p>
    </div>
    <div class="start">
      <%= link_to "Get Started", items_path, class:"btn btn-outline-secondary btn-start" %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
