<<<<<<< HEAD
<%# <div class="container">
  <h1>This is going to be a big image</h1>
</div> %>
=======

>>>>>>> f840db8d33abee0eae947a50f3797d4f819f1270
<div class="container">
<div class="tagline">
  <h1>It has never been so easy to manage your shopping basket!</h1>
  <p> With bookmark you can: <p>
  <p> * Save items across different websites <p>
  <p> * Compare similar items</p>
  <p> * Find the best deals </p>
  <p> * Share with friends and family </p>
  <%# need to put the route path below once done %>
<<<<<<< HEAD
  <%= link_to "Get Started", class:"btn btn-flat-home" %>
</div>
</div>
=======
  <%= link_to "Get Started", class: "btn btn-flat" %>

</div>

>>>>>>> f840db8d33abee0eae947a50f3797d4f819f1270
