<div class="home-container">
  <div class="tagline">
    <div class="text-content">
      <h1>With BOOKMARK </h1>
      <h5>It has never been so easy to manage your shopping basket!</h5>
      <br>
      <p> ☑ Save items across different websites <p>
      <p> ☑ Compare similar items</p>
      <p> ☑ Find the best deals </p>
      <p> ☑ Share with friends and family </p>
    </div>
    <%# need to put the route path below once done %>
    <div class="btn-flat">
      <%= link_to "Get Started", root_path%>
    </div>
  </div>
  <div class="homepage-caroussel">
  </div>
</div>
