<div class="container-new">
  <div class="form-group-new">
    <h1>Add a Bookmark</h1>
    <div class="form-item-new">
      <%= render "form", category: @category, item: @item %>
    </div>
    <%=  link_to "Back to Bookmarks", items_path, class: "btn btn-ghost-new" %>
  </div>
</div>
