.btn-session {
  background-color: $charcol;
  font-family: "Cormorant Garamond", "Helvetica", "serif";
  color: $pale-grey;

  &:hover {
    color: $dark-pink;
  }
}

.btn-ghost-search {
    color: $charcol;
    padding: 0px 8px;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

#sort {
  background-color: white;
  width: 150px;
  height: 30px;
  // font-weight: lighter;
  border: 1px solid lightgrey;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Cormorant Garamond", "Helvetica", "serif";
  color: grey;
  // margin-right: 923px;
}

#query {
  font-size: 16px;
  width: 225px;
  height: 30px;
}

.btn-ghost-item {
  background-color: #1A1A1A;
  color: lightgrey;
  width: 100px;
  height: 30px;
  padding: 2px 0 0 0;

  &:hover {
    color: $dark-pink;
  }
}

.item-image-overlay {
  background-color: $pale-grey;
  opacity: 0.7;
  // transition: transform 0.3s ease;
  // transform: translateY(100%);
  margin-top: -47px;
  display: none;
  align-items: center;
  // justify-content: center;
  width: 100%;
  min-width: 40px;
  text-align: center;
}

.button-more {
  margin-top: 8px;
  margin-bottom: 8px;
  // padding: 2px 8px;
  background-color: white;
  opacity: 1;
  min-width: 40px;
  // color: $charcol;
  width: 80%;
  font-size: 18px;
  // line-height: 28px;
  border: solid 1px $charcol;
  &:hover {
    border: solid 1px $dark-pink;
  }
  // border-right: none;
  // border-top: none;
  // border-left: none;

   p {
     vertical-align: center;
     margin: 0;
     color: $charcol;
     font-weight: bold;
     &:hover {
      color: $dark-pink;
      // font-weight: bold;
    }
   }
}

.delete-button {
  display: flex;
  font-size: 14px;

  .text-delete {
  color: $charcol;
  text-decoration: none;
  &:hover {
    color: $dark-pink;
    font-weight: bold;
  }
  }
}

.modify-button {
  display: flex;
  font-size: 14px;
  .text-modify {
    color: $charcol;
    text-decoration: none;
    &:hover {
      color: $dark-pink;
      font-weight: bold;
    }
    }
}

.purchase-confirm {
  margin-left: 85px;
  font-size: 12px;
  font-family:  "Cormorant Garamond", "Helvetica", "serif";
}

.btn.btn-buy {
  padding-top: 0;
  font-size: 14px;
  width: 80px;
  height: 25px;
  background-color: $charcol;
  font-family: "Cormorant Garamond", "Helvetica", "serif";
  color: $pale-grey;
  text-decoration: none;
  // padding-right: 4px;
  &:hover {
    color: $dark-pink;
  }
}

.btn.btn-bought {
  padding-top: 0;
  font-size: 14px;
  font-family: "Cormorant Garamond", "Helvetica", "serif";
  width: 80px;
  height: 25px;
  background-color: $charcol;
  color: $dark-pink;
  text-decoration: none;
  // padding-right: 4px;
  &:hover {
    color: $pale-grey;
  }
}

.btn.btn-back {
  background-color: $charcol;
  color: $pale-grey;
  font-size: 16px;

  &:hover {
    color: $dark-pink;
  }
}

.btn.btn-web {
  background-color: $charcol;
  color: $pale-grey;
  font-size: 16px;

  &:hover {
    color: $dark-pink;
  }
  }

  .btn.btn-primary {
    background-color: $charcol;
    font-size: 20px;
    border-radius: 4px;
    color: $pale-grey;
    border: 1px solid $charcol;

    &:hover {
      color: $dark-pink;
      transition: color 1s ease;
    }
  }

  .btn.btn-ghost-new {
    color: $pale-grey;
    padding: 0 auto;
    margin-left: 210px;
    padding-top: 40px;
    font-size: 20px;
    &:hover {
      color: $dark-pink;
      font-weight: bold;
    }
  }

  .btn.btn-ghost-edit {
    color: $charcol;
    margin-left: 210px;
    padding-top: 40px;
    font-size: 20px;
    &:hover {
      color: $dark-pink;
      font-weight: bold;
    }
  }
