.navbar-lewagon {
  justify-content: space-between;
  // align-items: center;
  background-color: #1A1A1A;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav.mr-auto {
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-lewagon .navbar-brand img {
  width: 7%;
  max-width: 7%;
  height:7%;
  max-height: 7%;
  object-fit: cover;
  object-position: center;
  border-radius: 0%;
  margin-left: 42px;
  // color: #9F8972;
}

.nav-link {
  color: $dark-pink;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  font-family: "Cormorant Garamond", "Helvetica", "serif";
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: $pale-grey;
  }
}

.dropdown-menu {
  text-align: center;
  white-space: nowrap;
  color: $dark-pink;
  font-size: 18px;
  font-weight: bold;
}

.dropdown-menu.open {
  display: block;
  right: 0px;
}
