/* The side navigation menu */
.sidebar {
  // same margin left as search bar and summary-info;  
    margin-left: 50px;
    padding: 0;
    width: 200px;
    background-color: white;
    // position: fixed;
    position: sticky;
    height: 100%;
    // overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: $charcol;
    text-decoration: none;
    font-size: 20px;
  }
  
  // /* Active/current link */
  .sidebar a.active {
    background-color: $charcol;
    color: $dark-pink;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    // background-color: $charcol;
    color: $dark-pink;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
 

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    .item-cards {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  